@import '../../styles/variables';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__box {
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 600px) {
      width: 80%;
    }

    &--title {
      text-align: center;
      color: $second-purple;
    }

    &--form {
      display: flex;
      flex-direction: column;

      &-checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        &__input {
          margin-right: 8px;
        }

        &__label {
          margin-bottom: 0;
          color: #333;
        }
      }

      &-forgot-password-link {
        margin-bottom: 16px;
        color: #1e90ff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &-signup-link {
        text-align: center;
  
        &__signup-link-text {
          color: #1e90ff;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

  }
}
