@import '../../../styles/variables';

.base-input {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 8px;
    color: #333;
  }
  
  &__field {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333; 
  
    &:focus {
      outline: none;
      border-color: $primary-purple;
      box-shadow: 0 0 5px $second-purple;
    }
  }
}